:root
{
    --mainAccent : #B5C4C0;
    --mainDark : #45514D;
    --mainDarkTransparent : #45514dd7;
    --mainWhite : #FFFFFF;
    --almostWhite : #f5f5f5;

    --fontHeading : 'Playfair Display', serif;
    --fontBody :  'Mulish', sans-serif;
    --fontHand :  'Mrs Saint Delafield', serif;
    
}

html {
    scroll-behavior: smooth;
}

body 
{

    background-color: var(--mainDark);
    display: grid;
}

.containerGrid
{
    display: grid;
}

.contentRow
{
    grid-template-columns: 1fr 1fr 1fr;
}

#about
{
    place-self: center;
    grid-template-columns: 2fr 1fr;
    margin-top:10em;
    
    width: 80%;
}

#aboutConBordo
{
    border-left: solid 3px var(--mainWhite);
    padding-left:3em
}

#about h2
{
    font-size: 3rem;
    font-family: var(--fontHeading);
    color: var(--mainAccent);
    margin-bottom:2em;
}

#about p
{
    font-size: 5rem;
    line-height: 1.5em;
    color: var(--mainWhite);
}

#containerIconeAbout
{
    margin-top:3.4em;
}

#containerIconeAbout img
{
    transition: all 0.6s;
}
#containerIconeAbout img:hover
{
    filter: hue-rotate(120deg);
    transform: scale(1.1);
}

#about div
{
    /* border: solid 2px red; */
}

#immagineAbout img
{
    width:100%;

}

a
{
    text-decoration: none;

}

.buttonDark
{
   
    background-color: var(--mainDark);
    padding:1em 2em 1em 2em;
    border-radius: 100px;
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--fontBody);
    color:var(--mainWhite);
    transition: all .5s;
    letter-spacing: 7px; 

}
.buttonDark:hover
{
    background-color: var(--almostWhite);
    color: var(--mainDark);
}



.colonnaHero
{
    background-size: cover;
    min-height: 70vh;
    width: 100%;
}


.ombreggiaTesto
{
    text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.64);
}

#hero
{
    display: grid;
    place-self: center;
    text-align: center;
    align-content: center;
    height: 100vh;
    place-items: center;
    background-image: url(images/heroImage1.jpg);
    background-attachment: fixed;
}

#hero h2
{
    font-family: var(--fontHeading);
    margin-top:2em;
    font-size: 5rem;
    line-height: 1.5em;
    margin-bottom: 1em;
    width: 70%;
    color:var(--mainWhite);
}

.mainFold 
{
    margin-left:10em;
    margin-right:10em;
    margin-top:7em;
    align-items: start ;
    gap:6em;
}

.mainFold .container2Grid
{
    gap: 3em;
}

.mainFold .textHero
{
    width:60%;
    margin-left: 5em;
}

h1 
{

    font-family: var(--fontHeading);
    color: var(--mainWhite);
}

p
{
    font-family: var(--fontBody);
}

.hand
{
    font-family: var(--fontHand);
    color: var(--mainAccent)
}

nav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-content: center;
    justify-items: center;
    align-items: end;
    background-color: var(--mainDarkTransparent); 
    padding-bottom: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:absolute;
    top:0;
    width: 100%;
}

nav ul li
{
    display: inline;
    margin:4em;
}

nav ul li a
{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fontBody);
    color:var(--mainAccent);
    transition: color .5s;
}

nav ul li a:hover
{
    color: var(--mainWhite);
}


#sideScroller
{
    position:fixed;
    background-color: var(--mainWhite);
    height: 100%;
    width:3.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 1.8rem;
}


.dot {
    height: 15px;
    width: 15px;
    background-color: var(--mainAccent);
    border-radius: 50%;
    display: inline-block;
    transition: all 0.7s;
}

.dot:hover
{
    background-color: var(--almostWhite) !important;
}

#logo
{
    font-size: 1.4rem;
    place-self: center;
    width:70%;
    
    display:grid;
    justify-items: center;
    
}

#logo h1
{
    font-size: 13rem;
}

#logo p
{
    color: var(--mainWhite);
    letter-spacing: 27px; 
}

#logo .hand
{
    font-size:7rem;
    position:absolute;
    place-self: center;
}




@media screen and (max-width: 992px){
    
    #logo h1
    {
        font-size: 7rem;
    }
    #logo .hand
    {
        font-size: 4rem;
    }
    #logo p
    {
        letter-spacing: 8px; 
    }
}
