:root
{
    --mainAccent : #B5C4C0;
    --mainDark : #45514D;
    --mainWhite : #FFFFFF;
    --almostWhite : #f5f5f5;

    --fontHeading : 'Playfair Display', serif;
    --fontBody :  'Mulish', sans-serif;
    --fontHand :  'Mrs Saint Delafield', serif;
    
}

html {
    scroll-behavior: smooth;
}

body 
{

    background-color: var(--mainAccent);
    display: grid;
}

.container2Grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}

.colonnaHero
{
    background-size: cover;
    min-height: 70vh;
    width: 100%;
}

.mainFold h2
{
    font-size: 5rem;
    color:var(--mainDark);
}

.mainFold 
{
    margin-left:10em;
    margin-right:10em;
    margin-top:7em;
    align-items: start ;
    gap:6em;
}

.mainFold .container2Grid
{
    gap: 3em;
}

.mainFold .textHero
{
    width:60%;
    margin-left: 5em;
}

h1 
{

    font-family: var(--fontHeading);
    color: var(--mainWhite);
}

p
{
    font-family: var(--fontBody);
}

.hand
{
    font-family: var(--fontHand);
    color: var(--mainDark)
}

nav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
    justify-items: center;
    align-items: end;
    /* background-color: var(--mainDark); */
    padding-bottom: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav ul li
{
    display: inline;
    margin:4em;
}

nav ul li a
{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fontBody);
    color:var(--mainDark);
    transition: color .5s;
}

nav ul li a:hover
{
    color: var(--mainWhite);
}


#sideScroller
{
    position:fixed;
    background-color: var(--mainWhite);
    height: 100%;
    width:3.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 1.8rem;
}


.dot {
    height: 15px;
    width: 15px;
    background-color: var(--mainAccent);
    border-radius: 50%;
    display: inline-block;
    transition: all 0.7s;
}

.dot:hover
{
    background-color: var(--almostWhite) !important;
}

#logo
{
    font-size: 1.4rem;
    place-self: center;
    width:70%;
    
    display:grid;
    justify-items: center;
    
}

#logo h1
{
    font-size: 13rem;
}

#logo p
{
    color: var(--mainWhite);
    letter-spacing: 27px; 
}

#logo .hand
{
    font-size:7rem;
    position:absolute;
    place-self: center;
}




@media screen and (max-width: 992px){
    
    #logo h1
    {
        font-size: 7rem;
    }
    #logo .hand
    {
        font-size: 4rem;
    }
    #logo p
    {
        letter-spacing: 8px; 
    }
}
